body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    /* margin-left: auto; */
    padding: 0;
    width: 75%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: "Open Sans", serif;

}

.containerBox {
    width: 100%;
    /* border: 2px solid green; */
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
}

.containerBox .heading h2 {
    margin-top: 10vh;
    margin-left: 1vw;
    margin-bottom: 5vh;

}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: 210px 210px 210px 210px 210px; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 255px 255px 255px 255px;
    column-gap: 10px;
    row-gap: 7vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;

    /* border: 2px solid black; */
}

.element {
    /* border: 2px solid green; */
    padding: 5px;
    width: 200px;
    height: 255px;
    padding-top: 10px;
    border-radius: 5px;
}

.element:hover {
    /* filter: brightness(150%); */
    cursor: pointer;
    background-color: #3838389d;
}

.container .element .thubmnail {
    border-radius: 10px;
    width: 95%;
    height: 75%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: lightgray;  */
    /* border: 2px solid red; */
}

.container .element .thubmnail img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;

}

.container .element .discription {
    margin-top: 8px;
    /* border: 2px solid blue; */
}

.container .element .discription h4 {
    margin: 0;
}

.container .element .discription p {
    margin: 0;
}

.footer {
    padding-bottom: 10vh;
}

.footer .footlinks {
    border-bottom: 1px solid rgba(159, 155, 155, 0.406);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10vh;
    margin-left: 2vh;
    /* border: 1px solid rgb(11, 10, 10); */
    /* border: 1px solid rgb(225, 219, 219); */
    padding-bottom: 4vh;
}

.footer .footlinks .foot {
    width: 18%;
    /* border: 2px solid gray; */
}

.footer .footlinks .foot h3 {
    /* color: white; */
    font-weight: bold;
    margin: 0;
}

.footer .footlinks .foot li {
    list-style: none;
    margin: 0;
    margin-top: 10px;

    font-weight: 800;
}

.footer .footlinks .foot li a {
    text-decoration: none;
    color: #727272;
}

.footer .footlinks .foot li:hover {
    filter: brightness(200%);
    text-decoration: underline 1px white;
}

.footer .footlinks .element5 {
    display: flex;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    /* margin-left:5vw; */
    margin-left: auto;
    justify-content: space-evenly;
}

.footer .footlinks .element5 a {
    display: flex;
    /* border: 2px solid blue; */
    /* width: 40%; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313030;

}

.footer .footlinks .element5 a:hover {
    filter: brightness(150%);
}

.footer .footlinks .element5 a img {
    width: 20px;
    filter: invert(100%);
}

.footer .copyright {
    margin-left: 2vw;
    margin-top: 4vh;
}